<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id="dealNotifyFactory" class="com.shomop.crm.notify.service.DealNotifyFactory">
  <constructor-arg>
   <map>
   <!-- 创建淘宝交易消息  -->
    <entry key="taobao_trade_TradeCreate"  value-ref="test" />
    <!-- 关闭交易消息 -->
    <entry key="taobao_trade_TradeClose"  value-ref="test1" />
    <!-- 创建支付宝订单消息 -->
    <entry key="taobao_trade_TradeAlipayCreate" value-ref="test" />
    <!--买家付完款-->
    <entry key="taobao_trade_TradeBuyerPay" value-ref="test" />
     <!--卖家发货消息-->
    <entry key="taobao_trade_TradeSellerShip" value-ref="test" />
     <!--交易成功消息-->
    <entry key="taobao_trade_TradeSuccess" value-ref="test" />
    <!--交易评价变更消息-->
    <entry key="taobao_trade_TradeRated" value-ref="test" />
    <!--买家付完款-->
    <entry key="taobao_trade_TradeBuyerPay" value-ref="test" />
     <!--买家付完款-->
    <entry key="taobao_trade_TradeBuyerPay" value-ref="test" />
   </map>
  </constructor-arg>
</bean>


 <bean id="test" class="com.shomop.crm.notify.service.DealNotifyService">
  <constructor-arg>
   <list>
    <ref bean="dealSaveTrade"/>
    <ref bean="dealSendSms"/>
   </list>
  </constructor-arg>
 </bean>
  <bean id="test1" class="com.shomop.crm.notify.service.DealNotifyService">
  <constructor-arg>
   <list>
    <ref bean="dealSendSms"/>
    <ref bean="dealSaveTrade"/>
   </list>
  </constructor-arg>
 </bean>
 
<bean id="dealSaveTrade" class="com.shomop.crm.notify.service.DealSaveTrade">
</bean>
<bean id="dealSendSms" class="com.shomop.crm.notify.service.DealSendSms">
</bean>
</beans>