<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<!-- schedule job only -->
<beans>

	<!-- 线程执行器配置，用于任务注册 -->
 	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="1000" />
		<property name="rejectedExecutionHandler">
			<bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
		</property>  
	</bean> 
  
	<!-- 定时器对象-->
	<bean id="analyseScheduler" class="com.shomop.handle.taobaoNotify.AnalyseScheduler">
	    <property name="maxTradeSize" value="${max_trade_size}"></property> 
	</bean>

    <!-- ********以下是配置每个任务的被调度的方法******** -->
    <!--item 更新-->  
	<bean id="synchronizeItemJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="synchronizeItemByDay" />
		<property name="concurrent" value="false" />
	</bean>
    
    <!--对单-->  
	<bean id="matchTradeJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="matchTrade" />
		<property name="concurrent" value="false" />
	</bean>
	
	  <!--用户分析-->  
	<bean id="anlyseIncreasedJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="anlyseIncreased" />
		<property name="concurrent" value="false" />
	</bean>
	
    <!--单次营销效果分析-->  
	<bean id="analyseSingleMarketingJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="analyseSingleMarketing" />
		<property name="concurrent" value="false" />
	</bean>
    
	<!--每天新增订单用户分析-->  
	<bean id="anlyseIncreasedBuyerDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="anlyseIncreasedBuyer" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--未付款订单扫描-->
	<bean id="smsDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="nopayTradeSendSMS" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--到达或者签收订单扫描-->
	<bean id="remindDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="remindBuyerGoodsArrivalOrSignInTrade" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--评价详情下载-->
	<bean id="downRateDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="downRate" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 店铺实力客户分析 -->
	<bean id="analyseShopVIP"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="analyseShopVIP" />
		<property name="concurrent" value="false" />
	</bean>
	<!-- 店铺分数计算 -->
	<bean id="calculateShopScore"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="calculateShopScore" />
		<property name="concurrent" value="false" />
	</bean>
	<!--用户授权时间刷新-->
	<bean id="refreshAccessToken" 
	     class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="refreshUserToken" />
		<property name="concurrent" value="false" />
	</bean>
	<!--更新订单-->
	<bean id="updateCustomerGroup" 
	     class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="updateCustomerGroup" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--催款短信回报率-->
	<bean id="dunningSmsReward" 
	     class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="analyseDunningSmsReward" />
		<property name="concurrent" value="false" />
	</bean>
	<!--手动下载订单-->
	<bean id="manualDownloadTopatsTrades" 
	     class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="manualDownloadTopatsTrades" />
		<property name="concurrent" value="false" />
	</bean>
	
	 <!--上传淘宝后台会员-->  
	<bean id="updateTaobaoGroupJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="crmMemberManager" />
		<property name="targetMethod" value="updateTaobaoGroup" />
		<property name="concurrent" value="false" />
	</bean>
	<!--轮询异步任务-->  
	<bean id="checkTaskStatusJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="checkTaskStatus" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!--跟新分组-->  
	<bean id="addPopAndCidNameJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="analyseScheduler" />
		<property name="targetMethod" value="addPopAndCidName" />
		<property name="concurrent" value="false" />
	</bean>
	<!-- ********以下是配置每个任务的具体工作时间******** -->
	<!--刷新店铺授权时间 每天1点-->
	<bean id="refreshTokenTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="refreshAccessToken" />
		<property name="cronExpression" value="0 0 1 * * ?" />
	</bean>
	<!--item同步每天早上1点30
	<bean id="synchronizeItemTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="synchronizeItemJob" />
		<property name="cronExpression" value="0 30 1 * * ?" />
	</bean>-->
	<!--对单每天早上1点30 -->
	<bean id="matchTradeTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="matchTradeJob" />
		<property name="cronExpression" value="0 30 1 * * ?" />
	</bean>
	<!--单次营销分析每天早上2点 -->
	<bean id="analyseSingleMarketingTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="analyseSingleMarketingJob" />
		<property name="cronExpression" value="0 0 2 * * ?" />
	</bean>
	<!--店铺分析每天早上2点30 -->
	<bean id="anlyseIncreasedJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="anlyseIncreasedJob" />
		<property name="cronExpression" value="0 30 2 * * ?" />
	</bean>
	<!--定时分析买家订单每天早上3点
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="anlyseIncreasedBuyerDetail" />
		<property name="cronExpression" value="0 0 3 * * ?" />
	</bean> -->
	<!--催款短信每5分钟分析一次 -->
	<bean id="smsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="smsDetail" />
		<property name="cronExpression" value="0 0/5 * * * ?" />
	</bean>
	<!--下载评价,半小时下载一次
	<bean id="downRateTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="downRateDetail" />
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>-->
	
	<!--每天8-20点每隔2小时扫描一次 -->
	<bean id="remindTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="remindDetail" />
		<property name="cronExpression" value="0 0 8/2,20 * * ?" />
	</bean>
	
	<!--店铺实力买家分析 暂定每天分析一次4
	<bean id="shopVIPTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="analyseShopVIP" />
		<property name="cronExpression" value="0 0 4 * * ?" />
	</bean>-->
	
	<!--定时任务
	<bean id="updateCustomerGroupTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="updateCustomerGroup" />
		<property name="cronExpression" value="0 0 5 * * ?" />
	</bean>-->
	
	<!--店铺首页分值计算 暂定每天分析一次 早于店铺实力买家分析-->
	<bean id="shopScoreTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="calculateShopScore" />
		<property name="cronExpression" value="0 0 4 * * ?" />
	</bean>

	<!--催款短信回报率 每天10-22点每个4小时-->
	<bean id="dunningSmsRewardTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="dunningSmsReward" />
		<property name="cronExpression" value="0 0 10/4,22 * * ?" />
	</bean>
	<!--任务扫描 每1分钟一次-->
	<bean id="manualDownloadTradesTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="manualDownloadTopatsTrades" />
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>
	<!--上传淘宝会员1分钟一次-->
	<bean id="updateTaobaoGroupJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="updateTaobaoGroupJob" />
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>
	<!--轮询异步任务--> 
	<bean id="checkTaskStatusJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="checkTaskStatusJob" />
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean> 
	<!--分析品牌每分钟一次-->
	<bean id="addPopAndCidNameJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="addPopAndCidNameJob" />
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>
	<!-- 设置调度 -->
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list> 
				 <!-- <ref local="updateCustomerGroupTrigger" /> -->
				 <!-- <ref local="cronTrigger" /> -->
				 <ref local="smsTrigger" />
				 <ref local="remindTrigger" /> 
				 <ref local="shopScoreTrigger" />
				 <ref local="refreshTokenTrigger" />
				 <ref local="dunningSmsRewardTrigger" />
				 <ref local="manualDownloadTradesTrigger" />
				 <ref local="analyseSingleMarketingTrigger" />
				 <!-- <ref local="synchronizeItemTrigger" /> -->
				 <ref local="matchTradeTrigger" />  
				 <!-- <ref local="updateTaobaoGroupJobTrigger" />  -->
				 <ref local="addPopAndCidNameJobTrigger" />  
				 <ref local="anlyseIncreasedJobTrigger" />  
				 
			</list>
		</property>
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>
	
</beans>